body{
	margin:0 auto;
	padding:0;
}
ul,li{
	list-style:none;
}
/* 导航 */
#Nav{
	float:left;
	width:100%;
	height:20px;
	background-color: #84BBE1;
	border-bottom: 1px solid #DEE7F8;
}
table{
	float: right;
	font-size:14px;
	font-family: "仿宋";
	margin-right: 10px;

}
#Nav a:link,#Nav a:visited{
	color:#000;
}
#Nav a:hover,#Nav a:active {
	color:#fff;
	border-bottom:2px solid #FFCC33;
}
/* 顶部空白 */
.head{
	width:100%;
	height:30px;
    margin:0 auto;
    float:left;
	background-color: #E4EAF9;
}
/* 导航图片 */
.img1{
	width:100%;
	height:60px;
	float:left;
}