<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="jdbcUrl" value="jdbc:sqlserver://127.0.0.1:1433;DatabaseName=Asset" ></property>
		<property name="user" value="sa" ></property>
		<property name="password" value="762519" ></property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<!-- 配置action -->
	<bean id="userAction" class="com.px.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" ></property>
	</bean>
		
	<!-- 配置service对象 -->
	<bean id="userService" class="com.px.service.UserService">
		<property name="userDao" ref="userDaoImpl"></property>
	</bean>
		
	<!-- 配置userDaoImpl对象 -->
	<bean id="userDaoImpl" class="com.px.dao.UserDaoImpl">
		<!-- <property name="hibernateTemplate" ref="hibernateTemplate"></property> -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置hibernateTemplate对象 -->
	<!-- <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->
	<import resource="classpath:Firm.xml" />
	<import resource="classpath:AssetInFo.xml" />
	<import resource="classpath:AssetType.xml" />
	<import resource="classpath:TwoAssetType.xml" />
	<import resource="classpath:ThreeAssetType.xml" />
	<import resource="classpath:System.xml" />
	<import resource="classpath:Analysis.xml" />
</beans>